/* Reset properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
main,
h1, h2, h3,
p {
    margin: 0;
}


/* Custom Properties */
:root {
    /* Typography */
    font-size: 10px;
    --fs-1: 3.6rem;
    --fs-2: 2.4rem;
    --fs-3: 2.0rem;                                       /* fs = font size */
    --fs-p1: 1.3rem;
    --fs-p2: 1.5rem;

    --ff: 'Poppins', sans-serif;
    --fw-l: 200;
    --fw-m: 400;
    --fw-b: 600;
    
    /* Colours */
    --primary-clr-red: hsl(0, 78%, 62%);
    --primary-clr-cyan: hsl(180, 62%, 55%);
    --primary-clr-orange: hsl(34, 97%, 64%);
    --primary-clr-blue: hsl(212, 86%, 64%);

    --neutral-clr-vdblue: hsl(234, 12%, 34%);
    --neutral-clr-grayblue: hsl(229, 6%, 66%);
    --neutral-clr-vlblue: hsl(0, 0%, 98%);

    --background-clr: hsl(0, 0%, 95%);

    /* Effects */
    --shadow: 0 2em 2em rgba(0,0,0, .1);
}

/* Typography */
main {
    font-family: var(--ff);
    padding-bottom: 8rem;
}
h1,
h2 {
    font-size: var(--fs-2);
}
h3 {
    font-size: var(--fs-3);
}
p {
    font-size: var(--fs-p2);
    color: var(--neutral-clr-grayblue);
    font-weight: var(--fw-m);
}
.cards__info {
    font-size: var(--fs-p2);
}
@media (min-width: 600px) {
    h1,
    h2 {
        font-size: var(--fs-1);
    }
    p {
        font-size: var(--fs-p2);
    }
}
/* General style */
body {
    cursor: default;
    position: relative;
}
img {
    max-width: 100%;
}
.container {
    width: 83%;
    margin: 0 auto;
}

/* Main */
body {
    background-color: var(--background-clr);
    max-width: 100%;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* intro section*/
.intro {
    margin-top: 8rem;
    margin-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro__heading {
    font-weight: var(--fw-l);
    line-height: 3.6rem;
}
.intro__subheading {
    margin-bottom: 1rem;
    font-weight: var(--fw-b);
    line-height: 3.6rem;
}
.intro__info {
    line-height: 2.5rem;
    text-align: center;
}

/* cards section*/
.card__heading {
    font-weight: var(--fw-b);
    line-height: 3.0rem;
}
.card__info {
    line-height: 2.3rem;
}
@media (max-width: 500px) {
    .card p {
        font-size: var(--fs-p1);
    }
}
.card {
    margin-top: 2.5rem;
    padding: 9%;
    height: 232px;
    background-color: var(--neutral-clr-vlblue);
    border-radius: .5rem;
    box-shadow: var(--shadow);
    background-size: 57px 57px;
    background-repeat: no-repeat;
    background-position: bottom right;
    background-position: bottom 30px right 30px;
}
@media (min-width: 422px) {
    .card {
        max-width: 350px;
        margin: 0 auto;
        margin-top: 2.5rem;
        padding: 30px;
        height: 232px;
    }
}
@media (min-width: 500px) {
    .card {
        background-size: 64px 64px;
    }
}
.supervisor-card {
    border-top: 4px solid var(--primary-clr-cyan);
    background-image: url(images/icon-supervisor.svg);
}
.teamBuilder-card {
    border-top: 4px solid var(--primary-clr-red);
    background-image: url(images/icon-team-builder.svg);
}
.karma-card {
    border-top: 4px solid var(--primary-clr-orange);
    background-image: url(images/icon-karma.svg);
}
.calculator-card {
    border-top: 4px solid var(--primary-clr-blue);
    background-image: url(images/icon-calculator.svg);
}
/* Footer */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
